/* #region [ GLOBAL CONTENT ] */

*
{
    margin:  0;
    padding: 0;

    box-sizing: border-box;
}

html, body
{   
    height: 100svh;
    width:  100%;

    -ms-overflow-style: none; 
    scrollbar-width:    none; 
    
    overflow-y: hidden;
    overflow-x: hidden;
    
    font-family: 'Roboto', sans-serif;

    background-color: #233243;

    background-image:       url("/img/wave.svg");
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
}

body
{
    display:         flex;
    flex-direction:  column;
}

body::-webkit-scrollbar { display: none; }

main { flex: 1; }

section
{
    height: 100%;
    width:  100%;
}

/* #endregion [ GLOBAL CONTENT ] */
/****************************************************************************************************************/





/* #region [ VIEWS DISPLAY ] */

#homePage         { display: flex; } /*flex*/
#addEquipmentPage { display: none; } /*flex*/
#maneuversPage    { display: none; } /*flex*/

/* #endregion [ VIEWS DISPLAY ] */
/****************************************************************************************************************/





/* #region [ HEADER ] */

header
{
    height: 48px;
    width:  100%;

    display: flex;

    position: relative;    
}

header::after
{
    height: 2px;
    width:  50%;

    content:"";
    background: -webkit-linear-gradient(left,rgb(242, 134, 23) ,#233243 100%);
    
    display: block;

    position: absolute;
    bottom:   0;
}

#bannerLogo
{
    height:  100%;
    padding: 0.25rem;

    margin-right: auto;
}

#bannerText
{
    height: 100%;
    padding: 0.25rem 0.25rem;

    transition: font-size 0.5s ease;
    color: #f28617;

    display:         flex;
    align-items:     center;
    justify-content: center;

    margin-right: 0.25rem;
}

/* #endregion [ HEADER ] */
/****************************************************************************************************************/





/* #region [ NAV BAR ] */

.navWidget
{
    height: 3.5rem;
    width:  22rem;

    margin-bottom: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;

    display:         none;
    align-items:     center;
    justify-content: space-between;

    position:   relative;
    left:       50%;
    transform:  translateX(-50%);
}

.navWidget_btn
{
    height: 3rem;
    width:  3rem;

    display:         flex;
    align-items:     center;
    justify-content: center;

    border:        none;
    border-radius: 25px;

    color: #e5e5e5;

    background-color: #f28617;
}

.navWidget_btn img
{
    height: 1.5rem;
    width:  1.5rem;
}

.back_btn
{   
    padding-bottom: 0.25rem;

    -webkit-transform:  rotate(270deg);
    -moz-transform:     rotate(270deg);
    -ms-transform:      rotate(270deg);
    -o-transform:       rotate(270deg);
    transform:          rotate(270deg);
}

.forward_btn
{   
    padding-bottom: 0.25rem;

    -webkit-transform:  rotate(90deg);
    -moz-transform:     rotate(90deg);
    -ms-transform:      rotate(90deg);
    -o-transform:       rotate(90deg);
    transform:          rotate(90deg);
}

/* #endregion [ NAV BAR ] */
/****************************************************************************************************************/





/* #region [ HOME PAGE ] */
#homePage_btnsWidget
{
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: space-evenly;
}
/* #endregion [ HOME PAGE ] */
/****************************************************************************************************************/





/****************************************************************************************************************/
/* #region [ ADD EQUIPMENT ] */
#addEquipmentPage
{
    height: 100%;
    width:  100%;
    background-color: #009800;
}


.addEquipment_form
{
    display:            grid;
    grid-template-rows: auto,auto,auto,auto;
    place-items:        center;
}

/* #endregion [ ADD MANEUVER ] */




/* #region [ ADD MANEUVER ] */
.formContainer
{
    height: 100%;
    width:  100%;

    display: grid;
    grid-template-rows: auto,auto,auto,auto,auto;

    padding-top: 1rem;
}

#saveManeuver
{
    margin-left: 1rem;
}

/* #endregion [ ADD MANEUVER ] */




/* #region [ MONI ] */
/*********************************************************/
.dataHeader
{
    height: clamp(100px, 100px, 700px);
    width:  clamp(300px, 95%, 700px);

    border-radius: 25px;

    background-color: #e5e5e5;
    
    margin-top:     0.5rem;
    margin-bottom:  0.25rem;

}

.dataHeader_logo
{
    height: 100%;
    width:  20%;   
}

.dataHeader_logo img
{
    height: 3.5rem;
    width:  3.5rem;
}

.dataHeader_meta
{
    height: 100%;
    width:  80%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    display: grid;
    grid-template-rows: auto, auto;

}
.dataContainer
{
    height: clamp(300px, 80%, 700px);
    width:  clamp(300px, 95%, 700px);

    border-radius: 25px;

    background-color: #e5e5e5;
    
    margin-top:     0.25rem;
    margin-bottom:  0.5rem;

    display: grid;
    grid-template-rows: auto,auto,auto,auto,auto,auto,auto;
}

.rowData
{
    height: 100%;
    width:  85%;

    display:            flex;
    flex-direction:     column;
    align-items:        start;
    justify-content:    center;
}

.strong
{
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    900;
    color:          #233243;
}

.light
{
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #f28617;
}

.rowLogo
{
    height: 100%;
    width:  15%;
}

.dataContainer img
{
    height: 1.25rem;
    width:  1.25rem;
}

#maneuverData-pop
{
    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;
    
    background:             rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    border-radius: 25px;

    display: none;
}

#gps-pop
{
    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;
    
    background:             rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    border-radius: 25px;

    display: none;
}

#gps-pop embed
{
    width: 90%;

    border-radius: 15px;
}

#openGPS_pop
{
    margin-left: 1rem;
    
}

#openGPS_pop img
{
    height: 2rem;
    width:  2rem;


}

/* #region [ TIMELINE ] */

.timelineContainer
{
    overflow-y:         scroll;
    scrollbar-width:    none;  

    display: grid;
    place-items: center;

    padding-top: 0.5rem;
}

.timelineContainer::-webkit-scrollbar 
{
    display: none;
}

.eventContainer
{
    height: clamp(4rem, 10.25rem, 10.25rem);
    width:  clamp(300px, 98%, 700px);

    padding: 0.25rem;

    border-radius: 15px;
    background: #233243;
    box-shadow:  20px 20px 49px #0e141b,
                 -20px -20px 49px #38506b;

/*     margin-top: 0.25rem;             
    margin-bottom: 8rem;        */      
}

.eventCard-data
{
    height: 100%;
    width:  85%;

    display: grid;
    grid-template-rows: auto, auto, auto, auto;
    
}

.eventCard-time
{
    font-size:   clamp(0.5rem, 1rem, 1rem);
    font-weight: 900;
    color:     #f28617;
}

.eventCard-steps img
{
    width: 2.5rem;
}

.eventCard-step-percentage
{
    font-size:   clamp(0.5rem, 2rem, 2rem);
    font-weight: 100;
    
    margin-left: 0.5rem;
}

.eventCard-eventLogo
{
    height: 100%;
    width:  20%;
}

.eventCard-eventLogo img
{
    height:  1.5rem;
}

.eventCard-eventInfo
{
    height: 100%;
    width:  80%;

    display:         flex;
    align-items:     center;
    justify-content: start;
}

.eventCard-eventLogo img
{
    width:  2.5rem;
}

.eventCard-color
{
    height: 100%;
    width:  15%;

    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
}

.eventPath
{
    height: 75px;
    width:  5px;

    margin-bottom: 0.5rem;

    z-index: 1000;
    background-color: #f28617;
}

.eventPoint
{
    height: 20px;
    width:  20px;

    border-radius: 50px;


    margin-top: 0.5rem;

    z-index: 1000;
    background-color: #f28617;
}

.orange-text{color: #f28617;}
.orange-bg{background-color: #f28617;}

.bold{font-weight: 900;}
.thin{font-weight: 100;}

.green-text{color: #37bc9b;}
.green-bg{background-color: #37bc9b;}

/* #endregion [TIMELINE] */

/* #endregion [ MONI ] */


/*[ MANEUVERS PAGE ] ********************************************************/


/**********************************************************/
/* #region [ CARD WIDGET ] */

.cardWidget
{
    height: 25rem;
    width:  20rem;

    margin: 1rem 0 2rem 0;

    border-radius: 50px;
    background-color: #38506b;

    display: grid;
    grid-template-rows: 25% auto auto;     
}

.cardWidget_header
{
   display: grid;
   grid-template-columns: 25% auto; 

   position: relative;
}

.cardWidget_header img
{
    width: 3.5rem;
    padding: 0.25rem;
}

.cardWidget_header::before
{
    height: 1px;
    width:  90%;

    content:"";
    background: -webkit-linear-gradient(left,rgb(242, 134, 23) ,rgb(242, 134, 23) 100%);
    
    display: block;

    position: absolute;
    bottom:   0;
    left:     50%;

    transform: translateX(-50%);
}

.cardWidgetHeader_text
{
    display: grid;
    grid-template-rows: auto auto;
}

.cardWidget_row
{
    display:         flex;
    flex-direction:  column;
    align-items:     flex-start;
    justify-content: center;

    margin-left: 0.25rem;
}

.cardWidget_data
{
    display: grid;
    grid-template-rows: auto auto;

    padding-left: 0.25rem;
}

.cardWidget_buttons
{
    border-radius: 0 0 50px 50px;
    background-color: #334962;

    display:         flex;
    align-items:     center;
    justify-content: space-evenly;
    
}

.cardWidget_btn
{
    height: 4rem;
    width:  4rem;

    border:        none;
    border-radius: 15px;

    background-color: #233243;

    display:         flex;
    align-items:     center;
    justify-content: center;
}

.cardWidget_btnImg
{
    width: 80%;

    padding: 0.5rem;
}

.strong-orange
{
    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    900;
    color:        #f28617;
}

.light-white
{
    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    100;
    color:        #dddddd;
}

/* #endregion [ CARD WIDGET ] */

#maneuversPage
{
    flex-direction:  column;
    align-items:     center;
    justify-content: center;   
}

#maneuversList_container
{   
    height: 28rem;
    width:  22rem;

    display:         flex;
    align-items:     center;
    justify-content: center;

}

#maneuversList
{
    height: 90%;
    width:  20rem;

    overflow-y:      scroll;
    scrollbar-width: none;      
}














.maneuverElement
{
    height: clamp(300px, auto, 700px);
    width:  clamp(300px, 98%, 700px);

    padding: 0.5rem 0 0.5rem 0;

    background-color: #dddddd;
    border-radius: 15px;
}


.maneuverElement_data
{
    height: 100%;
    width:  70%;

    display: grid;
    grid-template-rows: auto, auto, auto;

    place-items: center;
}

.maneuverElement_btns
{
    height: 100%;
    width:  30%;

    display:         flex;
    align-items:     center;
    justify-content: space-evenly;
}

.linkBtn
{
    height: 2.5rem;
    width:  2.5rem;

    border: none;

    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    100;
    text-transform: uppercase;
    color: #f5dec7;

    background-color: #233243;

    border-radius: 5px;

}

.linkBtn img
{
    height: 1rem;
}

.save
{ background-color: #f28617;}

#updateGPS_pop
{
    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;
    
    background:             rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    border-radius: 25px;

    display: none;
}



/******************************************************** 
REUSABLE...
********************************************************/

.widget
{    
    transition: width 0.5s ease;

    border-radius: 25px;

    background:             rgba(120, 120, 120, 0.25);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.25);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);
}

.top{ margin-top: 1rem;}

.view_100
{
    height: 100%;
    width:  100%;
}

.view_70
{
    height: 70%;
    width:  100%;
}

.view_30
{
    height: 30%;
    width:  100%;
}

.topMargin
{
    margin-top: 5rem;
}

.checkbox
{
    height: 3.5rem;
    width:  3.5rem;

    margin-top: 1rem;

    accent-color: green;
}

.hidden_input
{
    display: none;
}

.dropdown
{
    height: 2rem;   
    width:  18rem;
    
    margin-top: 0.5rem;
    
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    padding-left: 0.5rem;
}

.miniDropdown
{
    height: 2rem;   
    width:  6rem;
    
    margin-top: 0.5rem;
    
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    padding-left: 0.5rem;
}

.textInput
{
    height: 2rem;   
    width:  18rem;  
    
    margin-top: 0.5rem;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    padding-left: 0.5rem;
}

.miniInput
{
    height: 2rem;   
    width:  12rem;  
    
    margin-top: 0.5rem;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    margin-right: 0.5rem;
    padding-left: 0.5rem;
}

.btn
{
    height: 4rem;   
    width:  15rem;   

    border: none;

    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    100;
    text-transform: uppercase;
    color: #f5dec7;

    background-color: #f28617;

    border-radius: 15px;
}

.btn_mini
{
    height: 4rem;   
    width:  6rem;   

    border: none;

    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    100;
    text-transform: uppercase;
    color: #f5dec7;

    background-color: #f28617;

    border-radius: 15px;
}

.btnImg
{
    height: 100%;
    width:  30%;

    display:            flex;
    align-items:        center;
    justify-content:    end;

    padding-right: 0.25rem;
}

.btnText
{
    height: 100%;
    width:  70%;

    display:            flex;
    align-items:        center;
    justify-content:    start;

}
 
.btnImg img
{
    height: 1rem;
}



.hidden
{
    display: none;
}

.flexCentered
{
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.vertical
{
    flex-direction: column;
}

.pop-up
{
    width:  clamp(350px,95%,600px);
    height: clamp(350px,95%,600px);

    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;
    
    background:             rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    border-radius: 25px;

    display: grid;
    grid-template-rows: auto, auto;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    900;
    color:          #233243;
}

.popImageContainer 
{   
    width: 100%;

    border-top-left-radius:  25px;
    border-top-right-radius: 25px;
}

.popImageContainer img
{
    height: 8rem;
    padding: 1rem;
}

.popTextPadding
{
    padding: 1.5rem;
}

.popBtn
{
    height: 4rem;   
    width:  15rem;   

    border: none;

    border-radius: 15px;
}

.error-color
{
    color: #f5dec7;
    background-color: #f74f4f;
}

.ok-color
{
    color: #d1fed1;
    background-color: #009800;
}


.disabledBtn
{
    display: none;
}


.toast-error, .toast-ok, .toast-loader
{
    display: none;
}

.toast
{
    height: clamp(300px, 360px, 600px);
    width:  clamp(300px, 95svw, 95svw);  

    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;

    border-radius: 25px;
    
    background:             rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);


    grid-template-rows: auto, auto;

    font-size:      clamp(0.5rem, 1.25rem, 2rem);
    font-weight:    900;
    color:          #233243;
}


.toast-loader
{
    width:  300px; 
    height: 300px;

    position:   fixed;
    top:        50%; 
    left:       50%;
    transform:  translate(-50%, -50%);

    z-index: 1000;
    
    background:             rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    border-radius: 25px;

    grid-template-rows: auto, auto;

    font-size:      clamp(0.5rem, 1.25rem, 2rem);
    font-weight:    900;
    color:          #233243;
}


.cyan{border: cyan 1px solid;}
.cyan-d{border: cyan 1px dashed;}
.red{border: red 1px solid;}
.red-d{border: red 1px dashed;}
.green{border: greenyellow 1px solid;}
.green-d{border: greenyellow 1px dashed;}
.blue{border: blue 1px solid;}
.blue-d{border: blue 1px dashed;}



/******************************************************** 
Responsiveness...
********************************************************/

/* [ MOBILE DESIGN ] */
@media (min-width: 200px) and (max-width: 980px)
{
    #bannerText
    {
        font-size: 0.8rem;
    }


    /* #region [ HOME PAGE ] */
    #homePage_btnsWidget
    {
        height: clamp(300px, 300px, 700px);
        width:  clamp(300px, 300px, 700px);
    }
    /* #endregion [ HOME PAGE ] */

    
    /* #region [ MANEUVERS PAGE ] */
    #maneuversList
    {
        height: clamp(300px, 80%, 80%);
        width:  clamp(300px, 20rem, 20rem);
    }
    /* #endregion [MANEUVERS PAGE] */ 


}
/****************************************************************************************************************/





/*[ DESKTOP DESIGN ]*/
@media (min-width: 981px) 
{
    #bannerText
    {
        font-size: 1rem;
    }


    /* #region [ HOME PAGE ] */
    #homePage_btnsWidget
    {
        height: clamp(300px, 500px, 700px);
        width:  clamp(300px, 500px, 700px);
    }
    /* #endregion [ HOME PAGE ] */


    /* #region [ MANEUVERS PAGE ] */




    /* #endregion [MANEUVERS PAGE] */ 
}
/****************************************************************************************************************/
