*
{
    margin:     0;
    padding:    0;

    box-sizing: border-box;
}

html, body
{   
    height: 100svh;
    width:  100%;

    -ms-overflow-style: none; 
    scrollbar-width:    none; 
    
    overflow-y:         hidden;
    overflow-x:         hidden;
    
    font-family: 'Roboto', sans-serif;

    background-color: #233243;

    background-image:       url("../IMG/wave.svg");
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
}

body::-webkit-scrollbar 
{
    display: none;
}

header
{
    height: 10%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #f28617;

    display: flex;

    background-image:   url("../IMG/trianglify-lowres.png");
    background-repeat:  no-repeat;
    background-size:    cover;
}

#bannerLogo
{
    height: 100%;
    width:  50%;

    padding-left:   1rem;
    padding-top:    0.4rem;
    padding-bottom: 0.4rem;

    display:            flex;
    align-items:        end;
    justify-content:    left;

}

#bannerLogo img
{
    height: 80%;
}

#bannerText
{
    height: 100%;
    width:  50%;

    padding-right:  1rem;
    padding-bottom: 0.4rem;

    display:            flex;
    align-items:        end;
    justify-content:    right;

}

main
{
    height: 90%;
}

/******************************************************** 
Iniciar a modificar el contenido del cuerpo abajo...
********************************************************/

/*[VISTA DE INICIO] ********************************************************/
.topMargin
{
    margin-top: 1rem;
}

/*[VISTA LÍNEA DE TIEMPO] **************************************************/
  
#timelineContainer
{
    overflow-y:         scroll;
    scrollbar-width:    none;

    padding-top: 1.5rem;
}

#timelineContainer::-webkit-scrollbar 
{
    display: none;
}

.timeline
{
    height: auto;
    width:  100%;

    display:                grid;
    grid-template-columns:  1.25fr 3px 2fr;
}

.timelineDate
{
    height: 2rem;
    width:  100%;

    padding-top: 1rem;

    font-size:      clamp(0.5rem, 0.85rem, 2rem);
    font-weight:    100;
    text-align:     center;
    color:          #f28617;
}

.timelinePath
{
    height: 100%;
    position: relative;
    top: 1rem;
    background-color: #f28617;
}

.timelinePoint
{
    width:  1rem;
    height: 1rem;
    
    position:   absolute;
    top:        0;
    left:       50%;
    transform:  translateX(-50%);

    border-radius: 50%;
    
    background-color: #f28617;
}

.dataContainer
{
    margin: 1rem 0.5rem 2.5rem 0.75rem;
    padding: 0.5rem;

    border-radius: 10px;

    background:             rgba(113, 113, 113, 0.4);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

}

.darkText
{
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    900;
    color:          #233243;

    margin-left: 0.5rem;
}

.darkText_light
{
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #f28617;

    margin-left: 0.5rem;  
}
/******************************************************** 
Estilos reutilizables...
********************************************************/
section
{
    max-height: 700px;
    min-height: 300px;
    max-width:  700px;
    min-width:  300px;
    
    height: 95%;
    width:  95%;

    border-radius: 25px;

    background:             rgba(113, 113, 113, 0.4);
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.1);
    backdrop-filter:            blur(8px);
    -webkit-backdrop-filter:    blur(8px);

    color:#f28617;
}

.view_100
{
    height: 100%;
    width:  100%;
}

.view_70
{
    height: 70%;
    width:  100%;
}

.view_30
{
    height: 30%;
    width:  100%;
}

.checkbox
{
    height: 3.5rem;
    width:  3.5rem;

    margin-top: 1rem;

    accent-color: green;
}

.dropdown
{
    height: 2rem;   
    width:  18rem;
    
    margin-top: 0.5rem;
    
    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    padding-left: 0.5rem;
}

.textInput
{
    height: 2rem;   
    width:  18rem;  
    
    margin-top: 0.5rem;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #233243;

    border: none;

    border-radius: 5px;

    padding-left: 0.5rem;
}

.btn
{
    height: 4rem;   
    width:  15rem;   

    border: none;

    font-size:      clamp(0.5rem, 1rem, 3rem);
    font-weight:    100;
    text-transform: uppercase;
    color: #f5dec7;

    background-color: #f28617;

    border-radius: 15px;
}

.btnImg
{
    height: 100%;
    width:  30%;

    display:            flex;
    align-items:        center;
    justify-content:    end;

    padding-right: 0.25rem;
}

.btnText
{
    height: 100%;
    width:  70%;

    display:            flex;
    align-items:        center;
    justify-content:    start;

}
 
.btnImg img
{
    height: 1rem;
}

.back_btn
{
    height: 4rem;   
    width:  4rem;   

    margin-right: 0.5rem;

    background-color: #233243;

    border: none;
    border-radius: 50px;
}

.back_btn img
{
    height: 1rem;
}

#arrow
{
    -webkit-transform:  rotate(270deg);
    -moz-transform:     rotate(270deg);
    -ms-transform:      rotate(270deg);
    -o-transform:       rotate(270deg);
    transform:          rotate(270deg);
}

.hidden
{
    display: none;
}

.flexCentered
{
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.vertical
{
    flex-direction: column;
}

.errorText
{
    color: #f74f4f;
}

.cyan{border: cyan 1px solid;}
.cyan-d{border: cyan 1px dashed;}
.red{border: red 1px solid;}
.red-d{border: red 1px dashed;}
.green{border: greenyellow 1px solid;}
.green-d{border: greenyellow 1px dashed;}
.blue{border: blue 1px solid;}
.blue-d{border: blue 1px dashed;}